.body {
  margin-top: 10rem;

  .body__title {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 2rem 0;
  }

  
  .body__item {
    margin: 2rem 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    .body__item__title {
      font-size: 1.6rem;
      font-weight: 600;
      margin-right: 2rem;
      width: 20rem;
    }

    .body__item__input {
      height: 4.2rem;
      flex: 1;
      border-radius: 8px;
      padding: 1rem 2rem;
      border: 1px solid #999;
      outline: none;
    }

    .body__item__text-area {
      flex: 1;
      border-radius: 8px;
      padding: 2rem;
      border: 1px solid #999;
      outline: none;
      font-size: 1.4rem;
    }

    .body__item__DVT {
      font-size: 1.6rem;
      margin-left: 2rem;
    }

    .body__item__select {
      font-size: 1.6rem;
      padding: 1rem;
      outline: none;

      option {
        padding: 1rem;
      }
    }
  }
}

.total {
  margin: 4rem;
  text-align: end;
}

.button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}
