.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
  float: left;
}

.font-300 {
  font-size: 3rem;
  font-weight: 600;
}

.font-200 {
  font-size: 2rem;
}

.font-150 {
  font-size: 1.5rem;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem;
}

.w-100 {
  width: 100%;
}

.w-400 {
  max-width: 400px;
}
*,
::after,
::before {
  box-sizing: border-box;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.d-flex {
  display: flex;
  height: 100vh;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.border-thin {
  border-width: thin;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background-clip: border-box;
  -webkit-background-clip: border-box; /*This is for Microsoft Edge*/
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  position: relative;
}

.h2,
h2 {
  font-size: 2rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

element.style {
  max-width: 400px;
}

form {
  display: block;
  margin-top: 0em;
}
.form-group {
  margin-bottom: 1rem;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  cursor: default;
}

.form-control {
  transition: none;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-background-clip: padding-box; /*This is for Microsoft Edge*/
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

button,
input {
  overflow: visible;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  -ms-user-select: none; /*This is for Microsoft Edge*/
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 0.25rem;
  background-color: #081c32;
  border-color: #081c32;
  font-size: 2rem;
  padding: 5px 24px;
  transition-duration: 0s;
  margin-top: 20px;
}

.btn:hover {
  background-color: #3f5974;
}
