.container {
    flex: 1;
    margin: 5px;
    min-width: 280px;
    height: 350px;
    display: flex;
    flex-direction: column;
}

.imgContainer {
    flex:1;
    display: block;
    /* justify-content: center;
    align-items: center; */
}


.info-Container {
    padding: 5px;
}

/* .productInfo {
    font-size: 20px;
}*/

.sellerInfo {
    display: flex;
    justify-content: space-between;
}

.productPrice {
    font-weight: 300;
    font-size: 20px;
}