.Footer {
  padding: 80px 60px;
  background: #131921;
  bottom: 0;
  width: 100%;
  // margin-bottom: 20px;
  @media (max-width: 1000px) {
    padding: 70px 30px;
  }
  .Footer-title {
  // color: "green";
  // textAlign: "center";
  // marginTop: "-50px"
  color: white;
  text-align: center;
  margin-top: -50px;
  font-size: 2.6rem;
  margin-bottom: 20px;
}

  .Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;

    .Row {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
      row-gap: 20px;
      @media (max-width: 1000px) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      }

      .Column {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 60px;

        .Heading {
          font-size: 2rem;
          color: white;
          margin-bottom: 40px;
          font-weight: bold;
        }
        .FooterLink {
          color: white;
          margin-bottom: 20px;
          font-size: 1.6rem;
          text-decoration: none;

          &:hover {
            color: gray;
            transition: 200ms ease-in;
          }
        }
      }
    }
  }
}


