.advertisement-container {
    max-width: 100%;
    height: 30vh;
    padding:10px 100px;
    /* border: 1px solid black; */
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}

.info-container {
    position: relative;
    margin: 0 5px;
    padding: 0;
    width: 50%;
    height: 100%;
    /* box-sizing: border-box; */
    overflow: hidden;
}


.image-wrapper {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    object-fit: cover;
    transition: all 0.5s ease;
}

.image-wrapper img {
    border-radius: 10px;
}

.image-wrapper:hover {
    transform: scale(1.3);
}

.sale-container {
    position: absolute;
    top:20%;
    right:5%;
    line-height: 1.8rem;
    color: white;
}

.sale-title {
    font-size:15px;
    margin-bottom: 2px;
}

.sale-info {
    font-size: 28px;
    font-weight: 700;
}

.add-to-cart-btn {
    margin-top: 10px;
    width: 80px;
    height: 30px;
    font-size: 12px;
    border-radius: 5px;
    background-color: red;
}
