.container-slider {
  max-width: 100%;
  height: 80vh;
  margin: 0 5px 40px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* ------------ Slide Image ------------ */
@media (min-width: 0) and (max-width: 720px) {
  /* .container-slider {
        max-width: 100%;
        margin: 100px 10px 0;
    } */

  .btn-slide {
    opacity: 0;
    z-index: -1;
  }
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #40d3dc;
}

/* .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
} */

.active-anim {
  opacity: 1;
}

/* ------------ Button CSS ------------ */

.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}

.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}

/* ------------ Dot ------------ */

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 10px;
  /* background: #f1f1f1; */
}

.dot.active {
  background: #f1f1f1;
}
