.button {
    width: 100%;
    max-width: 20rem;
    height: 5rem;
    font-size: 1.6rem;
    font-weight: 600;
    // line-height: 2rem;
    border-radius: 8px;
    border: none;
    color: white;
    // margin: 1.2rem 0.5rem;
    // padding: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    .button__title {
        margin: 0;
    }
}

.small {
    width: 10.4rem;
    height: 2.8rem;
    padding: 0;
    font-size: 1.4rem;
}

.medium {
    width: 20rem;
}

.primary {
    background: linear-gradient(99.45deg, #db5060 0%, #dc6540 100%);
    color: #fff;
}

.facebook {
    background: linear-gradient(120deg, #3b5998, #c8d1e2);
}

.instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #e1306c, #fd1d1d);
}